$orange-gray: #FF0000;
$orange: #FFF;
$black: #333;
$light-black: #777;
.button{
    // border:1px solid #777;
    //  padding:5px 20px;
     text-decoration: none; color: #777;
}
// .button:hover{
//     border:1px solid $orange-gray;
//     color: $orange-gray;
//     transition: 0.3s ease;
// }
.mainDealsSection{
    width: 90%;
    margin: 0px auto;
    display:flex;
    padding: 30px 0px;
    justify-content: center;
    
    .innerMainSection{
        justify-content: center;
        z-index: 1;
    .colBox{
        padding: 10px;
        position: relative;
        overflow: hidden;
        .contentBox{
            position: absolute;
            top: 50%;
            left: 30px;
            transform: translateY(-50%);
            .head{
                color: #333;
                font-weight: 700;
                font-size: 1.1rem;
                margin-bottom: 10px;
            }
        }
    }
    }
}

/*Image*/
.image{
    width: 100%;
    height: auto;
}
/*Image*/
/*Responsive*/
@media screen and (max-width: 900px){

    .image{
        height: auto;
        max-width: 100%;
    }
    
    .mainDealsSection{
        width: 100% !important;
        padding: 20px;
        
        .innerMainSection{
            bottom: 0px !important;
        position: relative !important;
        .colBox{
            box-shadow: none !important;
            
        }
        }
    }
}