.headingTopSelling{
    h1{
        text-align: center;
    }
}
.cardContent {
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: auto;

    // border-radius: 20px;
    p {
        padding: 3px 10px;
    }

    .price {
        font-weight: 600;
    }

    img {
        max-width: 100%;
        margin-bottom: 15px;
        height: auto;
    }

    .card_btnnn {
        text-decoration: none;

        button.btn {
            background: none;
            transition: 0.9s ease-in;
            display: flex;
            width: 100%;
            display: flex;
            border-radius: 0px !important;
            color: #FF0000;
            border: 1px solid #FF0000;
            transition: all .4s ease
        }

        button.btn:hover {
            background: #FF0000;
            transition: 0.4s ease-in;
            cursor: pointer;
            color: white;
        }

    }
}
.cardContent:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 11px 9px;
    // cursor: pointer;
    transition: 0.3s ease-in;

    .innerImg {
        transform: scale(1.2);
    }

}

.priceColor {
    color: green;
    text-decoration: none;
}

.del {
    color: #FF0000;
   
}
.breakText{
    font-size: 15px;
}

@media screen and (min-width: 494px){
    .breakTextOfName {
     min-height: 60px;
    }
}

@media screen and (max-width: 500px){
    .breakTextOfName {
     font-size: 13px !important;
    }
}