.swiper {
  width: 100%;
  height: 100%;
}
.mainCompanySection{
  max-width: 1400px;
  margin: 0 auto;
}
.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .swiper-button-prev ,.swiper-button-next {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .mainCompanySection{
    margin-top: 0px !important;
  }
  .mainCompanySection hr{
    margin: 1rem auto 2.5rem !important;
  }
}
